header:after {
  content: "";
  display: table;
  clear: both; }

::selection {
  color: #fff;
  background: #E51937; }

::-moz-selection {
  color: #fff;
  background: #E51937; }

html, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #4f4f4f;
  width: 100%;
  height: 100%; }

a {
  color: #E51937;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

header {
  background: url(../img/bg-stormtest.jpg) no-repeat center center #4f4f4f;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  display: block;
  height: 50%;
  position: relative; }
  header h1 {
    font-weight: 700;
    font-size: 5em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: .2em;
    left: .2em;
    color: #fff;
    text-transform: uppercase;
    line-height: 0.7em;
    text-shadow: 0.02em 0.02em 0.5em rgba(0, 0, 0, 0.6); }
  header h1 span {
    font-size: 0.4em;
    clear: both;
    display: block; }

#mask {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2; }

.register {
  margin: 1.4em; }
  .register .register__button, .register input[type="submit"], .register input.submit {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    background: #E51937;
    color: #fff;
    border: none;
    padding: 0.5em 1.4em;
    display: inline-block;
    outline: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-shadow: 0.02em 0.02em 0.2em rgba(0, 0, 0, 0.6); }
  .register input[type="submit"], .register input.submit {
    margin: 1.4em 0 0 0; }
  .register .register__button:hover, .register input[type="submit"]:hover, .register input.submit:hover {
    cursor: pointer;
    background: #eb465e; }
  .register input.text, .register input[type="text"] {
    display: block;
    clear: both;
    height: 2em;
    line-height: 2em;
    width: 100%;
    margin: 0 0 1% 0;
    padding: 0 0 0 1%;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    border: 0.1em solid #cfcfcf; }
  .register .register__modal {
    display: none;
    background: #fff;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
    width: 50%;
    padding: 2em;
    left: 25%;
    z-index: 3; }
    .register .register__modal h2 {
      margin: 0 0 1em 0; }
    .register .register__modal .register__modal__close {
      position: absolute;
      top: 1em;
      right: 1em;
      text-decoration: none;
      color: #9c3131; }

@media all and (min-width: 750px) {
  html, body {
    font-size: 1.1em; } }
@media all and (max-width: 750px), all and (orientation: portrait) {
  html, body {
    font-size: 1em; }

  header h1 {
    left: 0;
    right: 0; }

  .register {
    text-align: center; }
    .register .register__modal {
      top: 10%;
      -webkit-transform: translateY(-5%);
      -moz-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
      transform: translateY(-5%);
      width: 90%;
      left: 5%; } }

/*# sourceMappingURL=style.css.map */
