///Variables

// Colours

$highlightColour: #E51937;
$alertColour: #9c3131;
$contrastColour: #fff;
$darkestColour: #000;
$fontColour: #4f4f4f;;
$buttonColour: #31759c;

// Fonts & Font Sizes

$headingFont: 'Montserrat', sans-serif;
$mobileFontSize: 1em;
$desktopFontSize: 1.1em;
$overFontSize: 5em;
$reducedFontSize: 0.4em;

// Global Dimensions

$smallBreakWidth: 750px;
$buttonPadding: .5em 1.4em;
$modalPadding: 2em;
$sectionMargin: 1.4em;
$modalTitleMargin: 0 0 1em 0;
$modalSubmitButtonMargin: 1.4em 0 0 0;

// Paths

$headerImg: "../img";

// Borders

$inputUserBorder: .1em solid lighten( $fontColour, 50% );

////Mixins

// Mixin to prefix a property

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}


/// Text Shadow

@mixin textShadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}


/// Styles

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

::selection {
    color: $contrastColour;
    background: $highlightColour;
}

::-moz-selection {
    color: $contrastColour;
    background: $highlightColour;
}

html, body {
    font-family: $headingFont;
    font-weight: 400;
    margin: 0;
    padding: 0;

    background: $contrastColour;
    color: $fontColour;

    width:100%;
    height: 100% 
}

a{ 
    color: $highlightColour;
    @include prefix(transition, all 0.5s, webkit moz o);
}

header {
    background: url(#{$headerImg}/bg-stormtest.jpg) no-repeat center center $fontColour;

    @include prefix(background-size, cover, webkit moz o);

    @extend %clearfix;
    text-align: center;

    display: block;
    height: 50%;

    position: relative;


    h1 {
        font-weight: 700;
        font-size: $overFontSize;

        margin: 0;
        padding: 0;

        position: absolute;
        bottom: .2em;
        left: .2em;
        color: $contrastColour;
        text-transform: uppercase;
        line-height: 0.7em;

        @include textShadow(.02em, .02em, .5em, rgba(0, 0, 0, 0.6));
    }
    h1 span{
        font-size: $reducedFontSize;
        clear: both;
        display: block;

    }
}


#mask {
    display: none;
    background: $darkestColour;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 2;
}


.register {
     margin: $sectionMargin;

    .register__button,  input[type="submit"], input.submit {
        @include prefix(border-radius, .5em, webkit moz o);
        background: $highlightColour;
        color: $contrastColour;
        border: none;
        padding: $buttonPadding;

        display:inline-block;

        outline: 0;

        @include prefix(transition, all 0.5s, webkit moz o);
        @include textShadow(.02em, .02em, 0.2em, rgba(0, 0, 0, 0.6));

    }
    input[type="submit"], input.submit{
        margin: $modalSubmitButtonMargin; 
    }
    .register__button:hover,  input[type="submit"]:hover, input.submit:hover  {
        cursor: pointer;
        background: lighten( $highlightColour, 10% )
    }

     input.text, input[type="text"]{
        display:block;
        clear: both;

        height: 2em;
        line-height: 2em;
        width: 100%;

        margin: 0 0 1% 0;
        padding: 0 0 0 1%;

        @include prefix(border-radius, .2em, webkit moz o);
        border: $inputUserBorder;
     }

    .register__modal {
        display: none;
        background: $contrastColour;

        position: fixed;
        top: 50%;

        @include prefix(transform, translateY(-50%), webkit moz ms);

        box-sizing: border-box;
        width: 50%;

        padding: $modalPadding;

        left: 25%;
        z-index: 3;

            h2 {
                margin: $modalTitleMargin;
            }

            .register__modal__close {
                position: absolute;
                top: 1em;
                right: 1em;
                text-decoration: none;
                color: $alertColour; 
            }
            .register__modal__close:hover {

            }
     }
}


@media all and (min-width: $smallBreakWidth)  {
    html, body {
        font-size: $desktopFontSize;
    }
}
@media all and (max-width: $smallBreakWidth), all and (orientation:portrait) {
    html, body {
        font-size: $mobileFontSize;
    }
    header  h1 {
        left: 0;
        right: 0;
    }

    .register {
         text-align: center;
             .register__modal {
                 top: 10%;
                 @include prefix(transform, translateY(-5%), webkit moz ms);
                 width: 90%;
                 left: 5%;
              }
    }

}